:root {
  --edge-color: rgb(226, 226, 226);
  --grey: hsl(0, 0%, 90%);
  --green: hsl(108, 70%, 60%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, monospace, sans-serif;
  line-height: 1.5;

  display: grid;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--grey);
  box-shadow: 0px 0px 6px
}

.title {
  font-size: 4rem;
}

.play-section {
  display: flex;
  justify-content: space-evenly;

  width: 100%;

  background-color: rgb(255, 255, 255);
}

.sub-play-section {
  display: flex;
  flex-direction: column;
  margin-top: 54px;

  background-color: rgb(255, 255, 255);
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;

  background-color: rgb(255, 255, 255);
  border: 1px solid var(--edge-color);
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;;
  flex: 1;
}

.block {
  display: flex;
  flex: 1;
  border: 1px solid var(--edge-color);
}

.computer-block:hover {
  background-color: rgb(245, 187, 187);
  border: 1px solid rgb(212, 98, 96);
}

.random-btn {
  padding: 16px;
  font-size: 24px;
  margin-top: 6px;
  
  background-color: var(--grey);
  font-weight: bold;
  border: none;
}

.random-btn:hover {
  background-color: hsl(0, 0%, 80%);
}

.start-btn {
  padding: 16px;
  font-size: 24px;
  margin-top: 6px;
  
  background-color: var(--green);
  font-weight: bold;
  border: none;
}

.start-btn:hover {
  background-color: hsl(108, 70%, 50%);
}

.vertical-line {
  width: 1px;
  height: 80%;
  
  background-color: rgb(210, 210, 210);
}

.sub-play-section, .vertical-line {
  margin-top: 54px;
}

